<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link href="http://im.wellington.gen.nz/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container">

#macro(outingsNav $action) 
	#if($outingMonths && !$outingMonths.keySet().isEmpty())
		<div class="span2 bs-docs-sidebar">
				
			<ul class="nav nav-list bs-docs-sidenav">
				<li><a href="$urlBuilder.applicationUrl('/outings/new')">Add outing</a></li>
			</ul>
			<p>		
			<ul class="nav nav-list bs-docs-sidenav">
				<li><a href="$action">Current</a></li>
			</ul>
			<p>		
			<ul class="nav nav-list bs-docs-sidenav">
				#foreach($outingMonth in $outingMonths.keySet())
					<li><a href="$action?month=$outingMonth">$dateFormatter.month($outingMonth) ($outingMonths.get($outingMonth))</a></li>
				#end
			</ul>
		</div>
	#end
#end

#macro(navTabs $selectedTab) 
	<div class="navbar">
		<div class="navbar-inner">
	    	<ul class="nav">
				<li #if($selectedTab == 'My outings') class="active" #end><a href="$urlBuilder.applicationUrl('')">Outings</a></li>
				<li #if($selectedTab == 'My details') class="active" #end><a href="$urlBuilder.applicationUrl('/member/')${loggedInUser}">My details</a></li>
				<li #if($selectedTab == 'Availability') class="active" #end><a href="$urlBuilder.applicationUrl('/squad/novice-men/availability')">Availability</a></li>
				<li #if($selectedTab == 'Squads') class="active" #end><a href="$urlBuilder.applicationUrl('/squad/novice-men')">Squads</a></li>
				<li #if($selectedTab == 'Entry details') class="active" #end><a href="$urlBuilder.applicationUrl('/squad/novice-men/entrydetails')">Entry details</a></li>
				<li #if($selectedTab == 'Admin') class="active" #end><a href="$urlBuilder.applicationUrl('/admin')">Admin</a></li>
				<li #if($selectedTab == 'Logout') class="active" #end><a href="$urlBuilder.applicationUrl('/j_spring_security_logout')">Logout</a></li>								
			</ul>
		</div>
	</div>	
#end

#macro(squadSideNav $action)
	<ul class="nav nav-list bs-docs-sidenav">
		#if($squads && $squads.size() > 0) 
			#foreach($navSquad on $squads) 
				<li><a href="/squad/${navSquad.id}/${action}">$navSquad.name</a></li>
			#end	
		#end
   	</ul>
#end
 

