#springBind("outing")

	#foreach($error in $status.errorMessages) 
		<div class="alert alert-warning">$error</div>
	#end
															
	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
	    <div class="col-sm-2">
	    	#springBind("outing.day")							
			<select name="${status.expression}" class="form-control">	
				#foreach($day in $dateHelper.days)
					<option value="$day" #if($day == $outing.day) SELECTED #end>$day
				#end
			</select>
			#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
		</div>
		<div class="col-sm-2">
			#springBind("outing.month")					
			<select name="${status.expression}" class="form-control">
				#foreach($month in $dateHelper.months)
					<option value="$month" #if($month == $outing.month) SELECTED #end>$month
				#end
			</select>
			#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
		</div>
		<div class="col-sm-2">
			#springBind("outing.year")					
			<select name="${status.expression}" class="form-control">
				#foreach($year in $dateHelper.years)
					<option value="$year" #if($year == $outing.years) SELECTED #end>$year
				#end
			</select>
			#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
		</div>
	</div>		

	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Time</label>
	    <div class="col-sm-2">
	    	#springBind("outing.hour")							
			<select name="${status.expression}" class="form-control">	
				#foreach($hour in $dateHelper.hours)
					<option value="$hour" #if($hour == $outing.hour) SELECTED #end>$hour
				#end
			</select>
		</div>
		<div class="col-sm-2">
			<div class="controls">
				#springBind("outing.minute")				
				<select name="${status.expression}"  class="form-control">	
					#foreach($minute in $dateHelper.minutes)
						<option value="$minute" #if($minute == $outing.minute) SELECTED #end>$minute
					#end
				</select>
			</div>
		</div>					
		 <div class="col-sm-2">
			<div class="controls">
				#springBind("outing.ampm")	
				<select name="${status.expression}" class="form-control">	
					<option value="AM">AM
					<option value="PM">PM
				</select>
				#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end							
			</div>
		</div>				
	</div>
	
	<div class="form-group">
	    <label for="squad" class="col-sm-2 control-label">Squad</label>
	    <div class="col-sm-10">
	    	#springBind("outing.squad")				    
	      	<select id="${status.expression}" name="${status.expression}" class="form-control">
				#foreach($squad in $squads)
					<option value="$squad.id" #if($squad.id == ${status.value}) SELECTED #end>$squad.name
				#end
			</select>					
			#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end						
	    </div>
	</div>
	
	<div class="form-group">
	    <label for="notes" class="col-sm-2 control-label">Notes</label>
	    <div class="col-sm-10">
	    	#springBind("outing.notes")				    
	      	<input class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="Notes">
	      	#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
	    </div>
	</div>
								
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Add outing</button>
			<a href="$urlBuilder.applicationUrl('/outings')"><button class="btn btn-primary" type="button">Cancel</button></a>					
		</div>
	</div>