<div class="span2 bs-docs-sidebar">
	<ul class="nav nav-list bs-docs-sidenav">
		<li><a href="/">Current</a></li>
	</ul>
	<p>
		
	#if($outingMonths && !$outingMonths.keySet().isEmpty())
		<ul class="nav nav-list bs-docs-sidenav">
		#foreach($outingMonth in $outingMonths.keySet())
			<li><a href="/squad/novice-men/outings?month=$outingMonth">$dateFormatter.month($outingMonth) ($outingMonths.get($outingMonth))</a></li>
		#end
		</ul>
	#end
							
</div>