<div class="span2 bs-docs-sidebar">
	<ul class="nav nav-list bs-docs-sidenav">
		<li><a href="/">Current</a></li>
	</ul>
	<p>
		
	#if($outingMonths && !$outingMonths.keySet().isEmpty())
		<ul class="nav nav-list bs-docs-sidenav">
		#foreach($outingMonth in $outingMonths.keySet())
			<li><a href="/">$outingMonth</a> ($outingMonths.get($outingMonth))</li>
		#end
		</ul>
	#end
							
</div>