#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
		    <h4>Changes</h4>
		</div>
        <div class="col-xs-4">
            <div class="pull-right">
                <p><a href="mailto:enquires@squadlist.co.uk">Contact Squadlist</a></p>
            </div>
        </div>
	</div>
	<hr/>
	
	<div class="row">		
		<div class="col-xs-12">
			#foreach($change in $changes)
			    <h4>$change.title</h4>
			    <p>$dateFormatter.dayMonthYear($change.date)</p>
			    <p>$change.description</p>
            #end
		</div>		
	</div>
</div>
<hr/>			

#parse('includes/footer.vm')