#parse('includes/head.vm')
#navTabs('Outings')

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
		<h4>Changes</h4>
		</div>
	</div>
	<hr/>
	
	<div class="row">		
		<div class="col-xs-12">
			#foreach($change in $changes)
			    <h4>$change.title</h4>
			    <p>$dateFormatter.dayMonthYear($change.date)</p>
			    <p>$change.description</p>
            #end
		</div>		
	</div>
</div>
<hr/>			

#parse('includes/footer.vm')