#parse('includes/head.vm')
#navTabs('Contacts')

<div class="container-fluid">
		
	#if(!$squads.isEmpty())
	
		<div class="row">
			<div class="col-xs-8">
				<h4>$text.text('contacts')</h4>
			</div>
			<div class="col-xs-4">
				<div class="pull-right">
					#squadSelect('/contacts/', 'Show contacts')
				</div>
			</div>
		</div>
		<hr/>
										
		#if($members.isEmpty()) 
			<p>$text.text('no.members.assigned.to.squad')</p>								
		#else
		
			#if($emails)
				<p align="right"><a href="$urlBuilder.mailto($emails)">$text.text('email.members')</a></p>
			#end
			
			<table style="font-size: 14px;" class="table table-striped">
				<thead>
					<tr>
						<th></th>					
						<th>$text.text('email')</th>
						<th>$text.text('phone')</th>						
					</tr>
				</thead>
				#foreach( $displayMember in $members )
					<tr>
				    	<td>
				    		#parse('includes/displayMember.vm')
				    		#if($displayMember.member.role && $displayMember.member.role != 'Rower')
					    		($!displayMember.member.role)
					    	#end
				    	</td>
				    	<td>
				    		#if($displayMember.member.emailAddress)
					    		<a href="mailto:$displayMember.member.emailAddress">$displayMember.member.emailAddress</a>
					    	#end
				    	</td>
						<td>
							#if($displayMember.member.contactNumber)
								<a href="tel:$displayMember.member.contactNumber">$displayMember.member.contactNumber</a>
							#end
						</td>
					</tr>
				#end
			</table>			
		#end			
					
	#else	
		<h4>$text.text('contacts')</h4>
		<hr/>
		<p>There are currently no squads setup.</p>
	#end
	
</div>
<hr/>