#parse('includes/head.vm')
#navTabs('Admin')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Delete availability option</h4>
		</div>		
	</div>
	<hr/>

	<div class="row">			
		<div class="col-xs-12">
		
			<form method="POST" action="$urlBuilder.deleteAvailabilityOptionUrl($availabilityOption)" class="form-horizontal" accept-charset="UTF-8">		
				
				<p>Deleting this availability option ($availabilityOption.label) will permanently remove this option.<br/>
				This cannot be undo.</p>
				
				<p>If a member has selected this availability option for an outing what should be done with their existing availability?</p>
				
				<select name="alternative" class="form-control">
					<option value="">Delete</option>																	    				
					#foreach($alternative in $alternatives)				
						<option value="$alternative.id">Change to $alternative.label</option>
					#end
				</select>
				
				<div class="control-group">
					<div  class="col-sm-2">
					</div>	
					<div class="controls">
						<button type="submit" class="btn btn-primary">Delete availability option</button>
						#cancel($urlBuilder.adminUrl())					
					</div>
				</div>
									
			</form>				
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')