#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$squad.name outings</h4>
		</div>
		<div class="col-xs-4">
			<div class="pull-right">
				#squadSelect('/outings', 'Outings')
			</div>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-2">
			#outingsNav()
		</div>
		
		<div class="col-xs-10">
			<h4>Editing an outing</h4>
			<form class="form-horizontal" role="form" action="$urlBuilder.outingEditUrl($outingObject)" method="POST" accept-charset="UTF-8">		
				#parse('includes/outingForm.vm')
				
				<div class="control-group">
					<div  class="col-sm-2">
					</div>	
					<div class="controls">
						<button type="submit" class="btn btn-primary"">$text.text('update.outing')</button>
						#cancel($urlBuilder.applicationUrl('/outings'))					
					</div>
				</div>
										
			</form>	
		</div>	
	</div>
</div>
<hr/>

#parse('includes/footer.vm')