#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$title</h4>
		</div>
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">
		
			#springBind("member")
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
									
			<form method="POST" action="$urlBuilder.editMemberUrl($member)" class="form-horizontal" accept-charset="UTF-8">
				#inputRow("member.firstName", $text.text('first.name'))
				#inputRow("member.lastName",  $text.text('last.name'))
				#inputRow("member.knownAs",  $text.text('known.as'))
				
				#selectRow($text.text('gender'), 'member.gender', $genderOptions)
								
				<div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label"> $text.text('date.of.birth')</label>
				    <div class="col-sm-2">
				    	#springBind("member.dateOfBirthDay")   			
						<select name="${status.expression}" class="form-control">						
							<option value="">
							#foreach($day in $dateHelper.days)
								<option value="$day" #if($day == ${status.value}) SELECTED #end>$day
							#end
						</select>
						#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
					</div>
					<div class="col-sm-2">
						#springBind("member.dateOfBirthMonth")									
						#set($months =  $dateHelper.months)
						<select name="${status.expression}" class="form-control">
							<option value="">						
							#foreach($month in $months.keySet())
								<option value="$month" #if($month == ${status.value}) SELECTED #end>$months.get($month)
							#end
						</select>
						#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
					</div>
					<div class="col-sm-2">
						#springBind("member.dateOfBirthYear")			
						<select name="${status.expression}" class="form-control">
							<option value="">						
							#foreach($year in $dateHelper.dateOfBirthYears)
								<option value="$year" #if($year == ${status.value}) SELECTED #end>$year
							#end
						</select>
						#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
					</div>
				</div>
				
				#inputRow("member.emailAddress", $text.text('email.address'))
				#inputRow("member.contactNumber", $text.text('contact.number'))
				#inputRow("member.emergencyContactName", $text.text('emergency.contact.name'))
				#inputRow("member.emergencyContactNumber", $text.text('emergency.contact.number'))
												
				#selectRowMap($text.text('weight'), 'member.weight', $governingBody.weights)				
								
				#selectRow($text.text('sweep.oar.side'), 'member.sweepOarSide', $sweepOarSideOptions)
															
				#inputRow('member.registrationNumber', $text.text('registration.number'))				
				#set($registrationNumberProblems = $governingBody.checkRegistrationNumber($member.registrationNumber)) 		
	    		#if($registrationNumberProblems)
		    		<div class="alert alert-danger">
		    			$registrationNumberProblems
		    		</div>
		    	#end
		    			    											
				#selectRow($text.text('rowing.points'), 'member.rowingPoints', $pointsOptions)				
				#selectRow($text.text('sculling'), 'member.sculling', $yesNoOptions)
				#selectRow($text.text('sculling.points'), 'member.scullingPoints', $pointsOptions)
					
				#if($canChangeRole)			
					#selectRow($text.text('role'), 'member.role', $rolesOptions)
				#else
					<div  class="form-group">
					    <label class="col-sm-2 control-label">$text.text('role')</label>
		    			<div class="col-sm-10">					
	    	  				$!member.role	
	        	      	</div>
					</div>
				#end
				
				#if($canChangeSquads)				
					#springBind("member.squads")															
					#squadsCheckboxGroup				
				#else
					<div class="form-group">
					    <label class="col-sm-2 control-label">$text.text('squads')</label>
		    			<div class="col-sm-10">					
	    	  				$squadNamesHelper.list($memberSquads)
	        	      	</div>
					</div>
				#end
																											
				<div class="control-group">
					<div class="col-sm-2">
					</div>
					<div class="controls">
						<button type="submit" class="btn btn-primary">$text.text('update.details')</button>
						#cancel($urlBuilder.memberUrl($member))
					</div>
				</div>				
			</form>
		</div>
		
	</div>
	<hr/>	
		
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" method="POST" action="$urlBuilder.editMemberUrl($member)/profileimage"  enctype="multipart/form-data" />
				<div class="control-group">
					<div class="col-sm-2">
					    <label class="col-sm-2 control-label">$text.text('profile.image')</label>
					</div>
					
		    		<div class="col-sm-10">		    			
		    			#if($member.profileImage) 
		                    <img src="$urlBuilder.profileImage($member.profileImage)" width="200px" align="right"/><br/>
		    			#end
		    			
		    			#if($invalidImage) 
		    				<div class="alert alert-warning">
		    					Invalid image file
		    				</div>
		    			#end
		    			    				
						<input type="file" name="image" />
						<button type="submit" class="btn btn-primary">$text.text('update.profile.image')</button>							
	        	      </div>
				</div>	
			</form>			
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')