#parse('includes/head.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h3>Squadlist - $instance.name</h3>
		</div>
	</div>
	<hr/>
		
	<div class="row">
		<div class="col-xs-12">
		   	<form action="$urlBuilder.loginUrl()" method="POST" class="form-horizontal" accept-charset="UTF-8">
				<div class="form-group">
				    <label for="username" class="col-sm-2 control-label">$text.text('username')</label>
				    <div class="col-sm-6">
				        <input type="text" class="form-control" name="username" placeholder="$text.text('username')" value="$!username">
				    </div>
				</div>
				        
		   	  	<div class="form-group">
				    <label for="password" class="col-sm-2 control-label">$text.text('password')</label>
				    <div class="col-sm-6">					
				        <input type="password" class="form-control" name="password" placeholder="$text.text('password')">
				       	<p><a href="$urlBuilder.applicationUrl('/reset-password')">$text.text('forgotten.your.password')</a></p>				     				       	
				    </div>
				</div>

			        <div class="form-group">
				    <div class="col-sm-2"></div>
                                    <div class="col-sm-6">
                                        <input type="checkbox" name="_spring_security_remember_me" id="remember">                                        
                                        <label for="remember">Keep me signed in</label>
                                    </div>
                                </div>
								
				<div class="row">	
					<div class="col-sm-2">
					</div>			   	
				   	<div class="col-sm-6">					
						#if($errors)
					        <div id="alert" class="alert alert-warning">$text.text('incorrect.login')</div>
						#end
					</div>					
				</div>
	
				<div class="control-group">
					<div class="col-sm-2">
					</div>	
					<div class="controls">
						<input type="submit" name="login" value="$text.text('login')" class="btn btn-primary" />
					</div>
				</div>
								   	            
		     </form>	     
		</div>		
	</div>
	
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<p>
			<br/>				
			<p><a href="$urlBuilder.facebookSignin()">$text.text('login.with.linked.facebook.account')</a></p>
		</div>					
	</div>	
	
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<p>
			<br/>				

			<p class="alert alert-warning">
			24 Aug 2020 <br/> The link for your club's copy of Squadlist has changed from:<br/>
			$currentUrl to <a href="$newUrl">$newUrl</a><br/>
		    </p>

		</div>
	</div>

     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              About your data and cookies
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            #parse('data.vm')
          </div>
        </div>
      </div>
    </div>

	<hr/>
	
</div>

#parse('includes/footer.vm')
