#macro(outingsNav $action)
	<ul class="list-inline">
		<li class="pull-right">
			#if($permissionsHelper.hasPermission('ADD_OUTING'))			
				<a href="$urlBuilder.applicationUrl('/outings/new')">$text.text('add.outing')</a>
			#end				
		</li>		
		#if($outingMonths && !$outingMonths.keySet().isEmpty())		
			<li>				
				<a href="$urlBuilder.outings($squad)">
					#if($current)
						<span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
					#end
				$text.text('current')</a>
			</li>
			#foreach($outingMonth in $outingMonths.keySet())
				<li><a href="$urlBuilder.outings($squad, $outingMonth)">															
					#if($outingMonth.equals($month))
						<span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
					#end
					$dateFormatter.month($outingMonth)							
					</a>
				</li>
			#end
		#end
	</ul>
#end

#macro(inputRow $field $label)
	#springBind($field)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
	        <input class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="$label">				        
	      	#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end				      					   				
	    </div>
	</div>
#end

#macro(selectRow $label $field $options)
	#springBind($field)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
			<select name="${status.expression}" class="form-control">
				<option value=""></option>																	    				
				#foreach($option in $options)				
					<option value="$option" #if($status.getValue() == $option) SELECTED #end>$option</option>
				#end
			</select>
		</div>
	</div>
#end

#macro(selectRowMap $label $field $options)
	#springBind($field)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
			<select name="${status.expression}" class="form-control">
				<option value=""></option>																	    				
				#foreach($option in $options.keySet())				
					<option value="$option" #if($status.getValue() == $option) SELECTED #end>$options.get($option)</option>
				#end
			</select>
		</div>
	</div>
#end

#macro(squadsCheckboxGroup)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$text.text('squads')</label>
		<div class="col-sm-10">		    				
			#foreach($squad in $squads)
				<div class="checkbox">				
					<label>
						#set($checked = '')
						#foreach($memberSquad in $status.getActualValue())
							#if ($memberSquad.id == $squad.id) 
								#set($checked = 'CHECKED')
							#end
						#end												
						<input type="checkbox" value="$squad.id" name="${status.expression}" $checked />$squad.name						
					</label>
				</div>
			#end
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
			
		</div>
	</div>
#end