#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">
		    			
	<div class="row">
		<div class="col-md-12">
		<h4>$member.firstName $member.lastName</h4>
		</div>
	</div>
	<hr/>
		
	#if($member.profileImage)
		<img src="$urlBuilder.profileImage($member.profileImage)" width="200px" align="right"/><br/>
	#end	

	<p>$text.text('known.as'): $!member.knownAs</p>
	<p>$text.text('gender'): $!member.gender</p>
	<p>$text.text('date.of.birth'): 
		#if($member.dateOfBirth) $dateFormatter.dayMonthYear($member.dateOfBirth) 
			 #if($governingBody.getAgeGrade($member.dateOfBirth)) 
			 	($governingBody.getAgeGrade($member.dateOfBirth))
			 #end
		#end
	</p>
	<p>$text.text('email.address'): $!member.emailAddress</p>
	<p>$text.text('contact.number'): $!member.contactNumber</p>

	<p>$text.text('emergency.contact.name'): $!member.emergencyContactName</p>
	<p>$text.text('emergency.contact.number'): $!member.emergencyContactNumber</p>

	<p>$text.text('weight'): $!member.weight</p>
	
	<p>$text.text('registration.number'): $!member.registrationNumber</p>
	#set($registrationNumberProblems = $governingBody.checkRegistrationNumber($member.registrationNumber)) 		
	#if($registrationNumberProblems)
		<div class="alert alert-danger">
			$registrationNumberProblems
		</div>
	#end
		
	<p>$text.text('rowing.points'): $!member.rowingPoints
		#if($member.rowingPoints && $governingBody.getRowingStatus($member.rowingPoints)) 
			($governingBody.getRowingStatus($member.rowingPoints))
		#end
	</p>
		
	<p>$text.text('sculling'): $!member.sculling</p>	
	<p>$text.text('sculling.points'): $!member.scullingPoints
	
	#if($member.scullingPoints && $governingBody.getRowingStatus($member.scullingPoints)) 
		($governingBody.getRowingStatus($member.scullingPoints))
	#end
	</p>
	
	<p>$text.text('sweep.oar.side'): $!member.sweepOarSide</p>
				
	<p>$text.text('squads'): $squadNamesHelper.list($member.squads)</p>
	
	<p>$text.text('role'): $!member.role</p>
		
	<a href="$urlBuilder.editMemberUrl($member)"><button class="btn btn-primary" type="button">$text.text('edit.details')</button></a>
			
	</div>
</div>
<hr/>

#parse('includes/footer.vm')