#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Add availability option</h4>
		</div>		
	</div>
	<hr/>

	<div class="row">			
		<div class="col-xs-12">
		
			<form method="POST" action="$urlBuilder.newAvailabilityOptionUrl()" class="form-horizontal" accept-charset="UTF-8">		
				
				<div class="form-group">				
					#springBind("availabilityOptionDetails.name")				
			   		<label for="squad" class="col-sm-2 control-label">Name</label>
				    <div class="col-sm-5">    
						<input id="${status.expression}" name="${status.expression}" placeholder="Name" value="$!{status.value}" class="form-control" />
						#foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end
					
						#springBind("availabilityOptionDetails.colour")
						<select id="colorselector" name="colour">
							<option value="green" data-color="green" #if($status.value == 'green') selected="selected" #end>green</option>
							<option value="red" data-color="red" #if($status.value == 'red') selected="selected" #end>red</option>
							<option value="yellow" data-color="yellow" #if($status.value == 'yellow') selected="selected" #end>yellow</option>
						</select>
						
						<script>
							$('#colorselector').colorselector();
						</script>
												
					</div>
				</div>		
				
				<div class="control-group">
					<div  class="col-sm-2">
					</div>	
					<div class="controls">
						<button type="submit" class="btn btn-primary">Add availability option</button>
						#cancel($urlBuilder.adminUrl())					
					</div>
				</div>
									
			</form>				
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')