#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$text.text('adding.a.new.member')</h4>
		</div>		
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">
		
			#springBind("memberDetails")
			#foreach($error in $status.errorMessages) 
				<div class="alert alert-warning">$error</div>
			#end
	
			<form method="POST" action="$urlBuilder.newMemberUrl()" class="form-horizontal" accept-charset="UTF-8">		
				#inputRow("memberDetails.firstName", $text.text('first.name'))
				#inputRow("memberDetails.lastName", $text.text('last.name'))
											
				#springBind("memberDetails.emailAddress")
				<div class="form-group">
				    <label for="${status.expression}" class="col-sm-2 control-label">$text.text('email.address')</label>
				    <div class="col-sm-10">					
				        <input class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="$text.text('email.address')">				        
				      	#foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end
						
						<div class="alert alert-info">		
							<p>$text.text('reason.why.members.email.is.required')</p>
						</div>			
				    </div>
				</div>
								
				#selectRow($text.text('role'), 'memberDetails.role', $rolesOptions)				
														
				#springBind("memberDetails.squads")
				#squadsCheckboxGroup
																							
				<div class="control-group">
					<div class="col-sm-2">
					</div>
					<div class="controls">
						<input type="submit" class="btn btn-primary" value="$text.text('add.member')" />
						#cancel($urlBuilder.adminUrl())				
					</div>
				</div>				
			</form>
			
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')