#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$squad.name outings</h4>
		</div>
		<div class="col-xs-4">
			<div class="pull-right">
				#squadSelect('/outings?squad=', 'Outings')
			</div>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-3">
		</div>
		
		<div class="col-xs-12">			
			#outingsNav()
			<h4>$dateFormatter.dayMonthYearTime($outing.date)</h4>
						
			<span>
				#if($permissionsHelper.hasOutingPermission($outing, 'EDIT_OUTING'))				
					<a href="$urlBuilder.outingEditUrl($outing)">$text.text('edit.outing')</a>
					#if($outing.closed) 
						| <a href="$urlBuilder.outingReopenUrl($outing)">$text.text('reopen.outing')</a> 
					#else
						| <a href="$urlBuilder.outingCloseUrl($outing)">$text.text('close.outing')</a>
					#end
						| <a href="$urlBuilder.deleteOuting($outing)">$text.text('delete.outing')</a>
				#end
			</span>
			
			<p>$!outing.notes</p>	
		
			#if($outing.closed)
				#parse('includes/closedOuting.vm')
			#end
									
			<table style="font-size: 14px;" class="table table-striped">				
				#foreach($displayMember in $members)
					<tr>
				    	<td>
				   			#parse('includes/displayMember.vm')
				   		</td>				   		
				   		<td>
				   			$!displayMember.member.sweepOarSide
				   		</td>
				   		<td>
				   			#set($availability = '')
							#set($availability = $squadAvailability.get(${displayMember.member.id}))
							#parse('includes/availability.vm')							
						</td>
					</tr>
				#end
			</table>		
		</div>		
	</div>
	
	#if($permissionsHelper.hasOutingPermission($outing, 'EDIT_OUTING'))				
		<div class="row">
			<div class="col-xs-12">
				<p align="right"><a href="$urlBuilder.outingAvailabilityCsv($outing)">Export as CSV</a><p/>
			</div>
		</div>
	#end
	
</div>
<hr/>			

#parse('includes/footer.vm')