#parse('includes/head.vm')
#parse('includes/navbar.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$title</h4>
		</div>
		<div class="col-xs-4">
			<div class="pull-right">
				#squadSelect('/outings?squad=', $text.text('outings'))
			</div>
		</div>
	</div>
	<hr/>

	#if(!$squads)
		<div class="row">
			<div class="col-xs-12">
				<p>No outings are available because no squads have been created. A coach needs at add squads and assign members to them.</p>
			</div>
		</div>
	#end

	<div class="row">
		<div class="col-xs-12">
		
			#outingsNav($canAddOuting)
						
			#if(!$outings.isEmpty())			
				<table style="font-size: 14px;" class="table table-striped">
					#foreach($outingWithAvailability in $outings)
						#set($outing = $outingWithAvailability.outing)
						<tr>
				   			<td>	   
								#parse('includes/outing.vm')
							</td>
							<td>
								<div class="pull-right">								
									#foreach($colour in $outingAvailabilityCounts.get($outing.id).keySet())
										<span class="badge" style="background-color: $colour">
											$outingAvailabilityCounts.get($outing.id).get($colour)
										</span>
									#end
								</div>		
									
				    		</td>	   			
						</tr>
						#end
				</table>
			#else
				<p>No matching outings found.</p>
			#end
							
		</div>			
	</div>

</div>
<hr/>			

#parse('includes/footer.vm')