#parse('includes/head.vm')

<div class="container-fluid">
    <div class="row">
		<div class="col-xs-8">
			<h3>Squadlist</h3>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-12">
		   	<h3>Unknown club</h3>
            <p>A copy of Squadlist could not be found for this club.</p>

             <p>This probably means the club name is spelt incorrectly in the URL.<br/>
            Your coach should be able to confirm the correct URL.</p>
            </p>
		</div>
	</div>
    <hr/>
</div>

#parse('includes/footer.vm')
