Package: squadlist
Version: %VERSION%
Depends: tomcat7
Section: squadlist
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Tony McCrae [tony@eelpieconsulting.co.uk]
Provides: squadlist
Description: Squadlist Website

