#parse('includes/head.vm')
#navTabs('Details')

<div class="container-fluid">
		    		
	<div class="row">
		<div class="col-md-12">
		<h4>$member.firstName $member.lastName - Reset password</h4>
		</div>
	</div>
	<hr/>
	
	<p>Reseting this member's password will erase their current password and assign them a new one.</p>

	<p>You would normally only want todo this if the user has forgotten their password and has not been able to reset it themselves using the forgotten password option on the signin screen.</p>
	
	<p>After you press the Reset password button the user's new access details will be displayed on your screen.</p>		
	<div class="row">
		<div class="col-md-12">
	
			<form action="$urlBuilder.memberResetPasswordUrl($member)" method="POST" >
				<div class="control-group">			
					<div class="controls">
						<button type="submit" class="btn btn-primary">Reset member password</button>
						#cancel($urlBuilder.memberUrl($member.id))			
					</div>
				</div>
			</form>
		</div>
	</div>
		    	    				
</div>
<hr/>

#parse('includes/footer.vm')