#parse('includes/head.vm')
#navTabs('Admin')

<div class="row-fluid">
		
	<div class="span2 bs-docs-sidebar">	
		#squadSideNav('contacts')
	</div>
		
	<div class="span5">
		<h3>Members</h3>

		<ul>
		#foreach( $member in $members )
			<li>#parse('includes/member.vm')</li>
		#end
		</ul>
		
		<a href="$urlBuilder.newMemberUrl()"><button class="btn btn-primary" type="button">New member</button></a>
		
	</div>
	
		<div class="span5">
		<h3>Squads</h3>

		<ul>
		#foreach( $squad in $squads )
			<li><a href="$urlBuilder.squadUrl($squad)">$squad.name</a></li>
		#end
		</ul>
		
		<a href="$urlBuilder.newSquadUrl()"><button class="btn btn-primary" type="button">New squad</button></a>
				
	</div>
	
</div>
</div>
