#parse('includes/head.vm')
#navTabs('Admin')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$text.text('admin')</h4>
		</div>	
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-6">				
			
			<span class="pull-right">			
				<a href="$urlBuilder.newMemberUrl()"><button class="btn btn-primary" type="button">$text.text('add.member')</button></a>
			</span>
			
			<h4>$text.text('members') ($activeMembers.size())</h4>			
			<ul>
			#foreach( $member in $activeMembers )
				<li>#parse('includes/member.vm') 
					| <a href="$urlBuilder.memberResetPasswordUrl($member)">$text.text('reset.password')</a>
					| <a href="$urlBuilder.makeInactive($member)">$text.text('make.inactive')</a>
					| <a href="$urlBuilder.delete($member)">$text.text('delete')</a>
				</li>
			#end
			</ul>
			
			<h4>$text.text('inactive.members') ($inactiveMembers.size())</h4>
			<ul>
			#foreach( $member in $inactiveMembers )
				<li>#parse('includes/member.vm')
					| <a href="$urlBuilder.memberResetPasswordUrl($member)">$text.text('reset.password')</a>
					| <a href="$urlBuilder.makeActive($member)">$text.text('make.active')</a>
					| <a href="$urlBuilder.delete($member)">$text.text('delete')</a>					
				</li>
			#end
			</ul>
								
			<a href="$urlBuilder.adminExportMembersAsCSV()">$text.text('export.all.as.csv')</a>
					
		</div>
			
		<div class="col-xs-6">
							
			<span class="pull-right">
				<a href="$urlBuilder.newSquadUrl()"><button class="btn btn-primary" type="button">$text.text('add.squad')</button></a>
			</span>
					
			<h4>Squads</h4>		
			#if($squads && !$squads.isEmpty())
				<ul>
					#foreach( $squad in $squads )
						<li><a href="$urlBuilder.editSquadUrl($squad)">$squad.name</a>
						| <a href="$urlBuilder.delete($squad)">$text.text('delete')</a>						
						</li>
					#end
				</ul>
			#else
				<p>No squads have been added.</p>
			#end
			<hr/>
			
			<h4>Boats</h4>		
			#if($boats && !$boats.isEmpty())
				<ul>
					#foreach( $boat in $boats )
						<li><a href="$urlBuilder.boatUrl($boat)">$boat.name</a></li>					
					#end
				</ul>
			#else
				<p>No boats have been added.</p>
			#end
								
			<hr/>

			<span class="pull-right">
				<a href="$urlBuilder.editAdmins()"><button class="btn btn-primary" type="button">$text.text('edit.admins')</button></a>
			</span>
							
			<h4>$text.text('admins')</h4>			
			<ul>
			#foreach($member in $admins)
				<li>#parse('includes/member.vm')</li>
			#end
			</ul>
			<hr/>
			
			<span class="pull-right">
				<a href="$urlBuilder.editInstanceSettings()"><button class="btn btn-primary" type="button">Edit</button></a>
			</span>
			
			<h4>Setup</h4>	
			<ul>
				<li>Club name: $instance.name</li>
				<li>Time zone: $instance.timeZone</li>
				<li>Availability visible: $instance.availabilityVisible</li>
				<li>Member ordering: $!instance.memberOrdering</li>
			</ul>
			<ul>				
				<li>$text.text('governing.body'): <a href="$urlBuilder.governingBody($governingBody)">$governingBody.name</a></li>
				<li>Language: $language</li>
			</ul>
			<p>Please contact us if you are interested in localising for a different language or governing body.</p>
					
			<hr/>
														
				<span class="pull-right">
					<a href="$urlBuilder.newAvailabilityOptionUrl()"><button class="btn btn-primary" type="button">Add option</button></a>
				</span>
																				
				<h5>Availability options</h5>
		
				#if($availabilityOptions && !$availabilityOptions.isEmpty())
					<ul>
						#foreach($availabilityOption in $availabilityOptions )
							<li>							
								<span class="label label-info" style="background-color: $cssHelper.classFor($availabilityOption)">$availabilityOption.label</span>
								| <a href="$urlBuilder.editAvailabilityOptionUrl($availabilityOption)">$text.text('edit')</a>
								| <a href="$urlBuilder.deleteAvailabilityOptionUrl($availabilityOption)">$text.text('delete')</a>
							</li>
						#end
					</ul>
				#else
					<p>No availability options have been added.</p>
				#end
			</ul>
			
			<hr/>
			<h4>Subscriptions</h4>
			
			#if($instance.subscriptions && !$instance.subscriptions.isEmtpy())
				<ul>
					#foreach($subscription in $instance.subscriptions)
						<li>
							<span class="label label-info" style="background-color: green">$subscription.tariff</span>							
							#if($subscription.expires)
								<br/>Expires in <span title="$dateFormatter.dayMonthYear($subscription.expires)">$dateFormatter.timeSince($subscription.expires)</span>
							#end
							</span>
							
							#if($subscription.tariff == 'PRE_JUNE_2015')
								<p>Your club was using Squadlist before paid subscriptions where introduced in June 2015.
								Your free usage will continue for at least 2 years after this date.</p>
							#end
						</li>
					#end
				</ul>			
			#else
				<p>No active subscriptions.</p>			
			#end			
			
			<hr/>			
			<h4>Statistics</h4>
			<ul>
				<li>Active members: $statistics.get('recentMembersCount')
				<li>Total outings: $statistics.get('totalOutingsCount')
			</ul>
			
			<hr/>
			<h4>Issues</h4>
			
			#if(!$openIssues.isEmpty())
				<p>Currently known issues:</p>
				<ul>
				#foreach($issue in $openIssues) 
					<li>$issue.title</li>
				#end
				</ul>
			#end
			
			#if(!$closedIssues.isEmpty())
				<p>Recently resolved issues:</p>
				<ul>
				#foreach($issue in $closedIssues) 
					<li>$issue.title</li>
				#end
				</ul>
			#end
						
		</div>
	</div>
	
</div>
<hr/>

#parse('includes/footer.vm')