#parse('includes/head.vm')
#navTabs('Admin')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Admin</h4>
		</div>	
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-6">				
			<h4>Members</h4>
						
			<ul>
			#foreach( $member in $members )
				<li>#parse('includes/member.vm')</li>
			#end
			</ul>
					
			<a href="$urlBuilder.newMemberUrl()"><button class="btn btn-primary" type="button">Add member</button></a>		
		</div>
			
		<div class="col-xs-6">
		
			<h4>Configuration</h4>		
			<ul>
				<li>Club name: $instance.name</li>
				<li>Time zone: $instance.timeZone</li>
			</ul>
							
			<h4>Squads</h4>			
			#if($squads && !$squads.isEmpty())
				<ul>
					#foreach( $squad in $squads )
						<li><a href="$urlBuilder.editSquadUrl($squad)">$squad.name</a></li>
					#end
				</ul>
			#else
				<p>No squads have been added.</p>
			#end
		
			<a href="$urlBuilder.newSquadUrl()"><button class="btn btn-primary" type="button">Add squad</button></a>	
			<hr/>
				
			<h4>Admins</h4>			
			<ul>
			#foreach( $member in $admins )
				<li>#parse('includes/member.vm')</li>
			#end
			</ul>
			<hr/>
			
			<h4>Availability options</h4>
		
			#if($availabilityOptions && !$availabilityOptions.isEmpty())
				<ul>
					#foreach($availabilityOption in $availabilityOptions )
						<li>
							<span class="label label-info $cssHelper.classFor($availabilityOption.label)">$availabilityOption.label</span>
						</li>								
					#end
				</ul>
			#else
				<p>No availability options have been added.</p>
			#end
		</div>
	</div>
	
</div>
<hr/>

#parse('includes/footer.vm')