#parse('includes/head.vm')
#navTabs('Availability')

<div class="container-fluid">

	#if(!$squads.isEmpty())
				
		<div class="row">
			<div class="col-xs-8">
				<h4>$squad.name availability</h4>
			</div>
			<div class="col-xs-4">
				<div class="pull-right">
					#squadSelect('/availability', 'Show contacts')					
				</div>
			</div>
		</div>		
		<hr/>
		
		<div class="row">
			<div class="col-md-12">
			
				#if($members.isEmpty()) 
					<p>No members are currently assigned to this squad.</p>				
				#else
				
					#if($outings.isEmpty())
						<p>No matching outings</p>
										
					#else
								
						<table style="font-size: 14px;" class="table table-striped">
							<thead>
								<th></th>
								#foreach($outing in $outings) 
									<th>
										#parse('includes/outing-small.vm')
									</th>
								#end
							</thead>
					
							#foreach($member in $members)
								<tr>				
									<td>#parse('includes/member.vm')</td>				
									#foreach($outing in $outings)
										#set($key = "${outing.id}-$member.id")
										#set($status = '')					
										#set($status = $availability.get($key))
										<td>
											#if($status == '') 
												TBA
											#else
												<span class="label label-info">$status</span>
											#end
										</td>
									#end
								</tr>
							#end
						</table>
					#end			
				#end
			</div>
		</div>
		
	#else				
		<div class="row">
			<div class="col-md-12">
				<h4>Availability</h4>
				<hr/>
				<p>There are currently no squads setup.</p>
			</div>
		</div>
	#end
	
</div>
<hr/>

#parse('includes/footer.vm')