#parse('includes/head.vm')
#navTabs('Outings')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Change password</h4>
		</div>		
	</div>
	<hr/>

	<div class="row">
			
		<div class="col-xs-12">
		
			#springBind("changePassword")
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
						
			<form method="POST" action="$urlBuilder.changePassword()" class="form-horizontal" accept-charset="UTF-8">
							
				#springBind("changePassword.currentPassword")				
				<div class="form-group">
				    <label for="currentPassword" class="col-sm-2 control-label">Current password</label>
				    <div class="col-sm-10">					
				        <input type="password" class="form-control" name="${status.expression}" placeholder="Current password">				        
				      	#foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end				      					   				
				    </div>
				</div>
					
				#springBind("changePassword.newPassword")				
				<div class="form-group">
				    <label for="newPassword" class="col-sm-2 control-label">New password</label>
				    <div class="col-sm-10">				    
				        <input type="password" class="form-control" name="${status.expression}" placeholder="New password">
				        #foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end			
				    </div>
				</div>
				
				<div class="control-group">
					<div  class="col-sm-2">
					</div>	
					<div class="controls">
						<button type="submit" class="btn btn-primary"">Change password</button>
						#cancel($urlBuilder.memberUrl($member))					
					</div>
				</div>				
			</form>
				
		</div>	
	</div>
</div>
<hr/>

#parse('includes/footer.vm')


