#parse('includes/head.vm')
#navTabs('Contacts')

<div class="container-fluid">
		
	#if(!$squads.isEmpty())
	
		<div class="row">
			<div class="col-xs-8">
				<h4>$squad.name contacts</h4>
			</div>
			<div class="col-xs-4">
				<div class="pull-right">
					#squadSelect('/contacts', 'Show contacts')
				</div>
			</div>
		</div>
		<hr/>
										
		#if($members.isEmpty()) 
			<p>No members are currently assigned to this squad.</p>								
		#else
		
			<table style="font-size: 14px;" class="table table-striped">
				<thead>
					<tr>
						<th></th>					
						<th>Email</th>
						<th>Phone</th>						
					</tr>
				</thead>
							
				#foreach( $member in $members )
					<tr>
				    	<td>
				    		#parse('includes/member.vm')
				    	</td>
				    	<td>
				    		$!member.emailAddress
				    	</td>
						<td>
							#if($member.contactNumber)
								<a href="tel:$member.contactNumber">$member.contactNumber</a>
							#end
						</td>
					</tr>
				#end
			</table>			
		#end			
					
	#else	
		<h4>Contacts</h4>
		<hr/>
		<p>There are currently no squads setup.</p>
	#end
	
</div>
<hr/>