#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$title</h4>
		</div>
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">
		
			#springBind("member")
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
						
			<form method="POST" action="$urlBuilder.editMemberUrl($memberId)" class="form-horizontal">				
				#inputRow("member.firstName", "First name")
				#inputRow("member.lastName", "Last name")
				#inputRow("member.knownAs", "Known as")
				
				#selectRow('Gender', 'member.gender', $genderOptions)
				#inputRow("member.dateOfBirth", "Date of birth")
								
				#inputRow("member.emailAddress", "Email address")
				#inputRow("member.contactNumber", "Contact number")
				#inputRow("member.emergencyContactName", "Emergency contact name")
				#inputRow("member.emergencyContactNumber", "Emergency contact number")
								
				#inputRow("member.weight", "Weight")				
				#selectRow('Sweep oar side', 'member.sweepOarSide', $sweepOarSideOptions)
															
				#inputRow('member.registrationNumber', 'Registration number')				
				#selectRow('Rowing points', 'member.rowingPoints', $pointsOptions)				
				#selectRow('Sculling', 'member.sculling', $yesNoOptions)
				#selectRow('Sculling points', 'member.scullingPoints', $pointsOptions)
														
				#springBind("member.squads")																
				#squadsCheckboxGroup
															
				<div class="control-group">
					<div class="col-sm-2">
					</div>
					<div class="controls">
						<button type="submit" class="btn btn-primary">Update details</button>
						#cancel($urlBuilder.memberUrl($memberId))			
					</div>
				</div>				
			</form>		
			
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')