#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$title</h4>
		</div>
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">
		
			#springBind("member")
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
									
			<form method="POST" action="$urlBuilder.editMemberUrl($memberId)" class="form-horizontal" accept-charset="UTF-8">				
				#inputRow("member.firstName", "First name")
				#inputRow("member.lastName", "Last name")
				#inputRow("member.knownAs", "Known as")
				
				#selectRow('Gender', 'member.gender', $genderOptions)
								
				<div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Date of birth</label>
				    <div class="col-sm-2">
				    	#springBind("member.dateOfBirthDay")   			
						<select name="${status.expression}" class="form-control">						
							<option value="">
							#foreach($day in $dateHelper.days)
								<option value="$day" #if($day == ${status.value}) SELECTED #end>$day
							#end
						</select>
						#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
					</div>
					<div class="col-sm-2">
						#springBind("member.dateOfBirthMonth")									
						#set($months =  $dateHelper.months)
						<select name="${status.expression}" class="form-control">
							<option value="">						
							#foreach($month in $months.keySet())
								<option value="$month" #if($month == ${status.value}) SELECTED #end>$months.get($month)
							#end
						</select>
						#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
					</div>
					<div class="col-sm-2">
						#springBind("member.dateOfBirthYear")			
						<select name="${status.expression}" class="form-control">
							<option value="">						
							#foreach($year in $dateHelper.dateOfBirthYears)
								<option value="$year" #if($year == ${status.value}) SELECTED #end>$year
							#end
						</select>
						#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
					</div>
				</div>
				
				#inputRow("member.emailAddress", "Email address")
				#inputRow("member.contactNumber", "Contact number")
				#inputRow("member.emergencyContactName", "Emergency contact name")
				#inputRow("member.emergencyContactNumber", "Emergency contact number")
								
				#inputRow("member.weight", "Weight")				
				#selectRow('Sweep oar side', 'member.sweepOarSide', $sweepOarSideOptions)
															
				#inputRow('member.registrationNumber', 'Registration number')				
				#selectRow('Rowing points', 'member.rowingPoints', $pointsOptions)				
				#selectRow('Sculling', 'member.sculling', $yesNoOptions)
				#selectRow('Sculling points', 'member.scullingPoints', $pointsOptions)
					
				#if($canChangeRole)			
					#selectRow('Role', 'member.role', $rolesOptions)
				#else
					<div  class="form-group">
					    <label class="col-sm-2 control-label">Role</label>
		    			<div class="col-sm-10">					
	    	  				$!member.role	
	        	      	</div>
					</div>
				#end
				
				#if($canChangeSquads)				
					#springBind("member.squads")															
					#squadsCheckboxGroup				
				#else				
					<div  class="form-group">
					    <label class="col-sm-2 control-label">Squads</label>
		    			<div class="col-sm-10">					
	    	  				$squadNamesHelper.list($memberSquads)
	        	      	</div>
					</div>
				#end
																			
				<div class="control-group">
					<div class="col-sm-2">
					</div>
					<div class="controls">
						<button type="submit" class="btn btn-primary">Update details</button>
						#cancel($urlBuilder.memberUrl($memberId))			
					</div>
				</div>				
			</form>
		</div>
		
	</div>
	<hr/>	
		
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal" method="POST" action="$urlBuilder.editMemberUrl($memberId)/profileimage"  enctype="multipart/form-data" />
				<div class="control-group">
					<div class="col-sm-2">
					    <label class="col-sm-2 control-label">Profile image</label>
					</div>
					
		    		<div class="col-sm-10">		    			
		    			#if($member.profileImage) 
		    				<img src="$urlBuilder.staticImage($member.profileImage)" width="200px" /><br/>
		    			#end		    				
						<input type="file" name="image" />
						<button type="submit" class="btn btn-primary">Update profile image</button>							
	        	      </div>
				</div>	
			</form>			
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')