#parse('includes/head.vm')
#navTabs('Entry details')

<div class="container-fluid">

	#if(!$squads.isEmpty())
		
		<div class="row">
			<div class="col-xs-8">
				<h4>$squad.name entry details</h4>
			</div>
			<div class="col-xs-4">
				<div class="pull-right">				
					#squadSelect('/entrydetails', 'Show entry details')
				</div>
			</div>						
		</div>
		<hr/>
			
		#if($members.isEmpty()) 
			<p>No members are currently assigned to this squad.</p>				
		#else
			
			<table style="font-size: 14px;" class="table table-striped">
				<thead>
					<tr>
						<th></th>					
						<th>Date of birth</th>
						<th>Weight</th>
						<th>Rowing pts</th>
						<th>Sculling pts</th>				
						<th>Registration</th>
					</tr>
				</thead>
									
				#foreach( $member in $members )			
					<tr>
				    	<td>#parse('includes/member.vm')</td>
				    	<td>$!member.dateOfBirth</td>		    	
				    	<td>$!member.weight</td>
				    	<td>$!member.rowingPoints</td>
						<td>$!member.scullingPoints</td>
				    	<td>$!member.registrationNumber</td>			    	
				    </tr>
				#end				
			</table>
		#end
			
	#else
		<h4>Entry details</h4>
		<hr/>
		<p>There are currently no squads setup.</p>
	#end
	
</div>
<hr/>

#parse('includes/footer.vm')