#parse('includes/head.vm')
#navTabs('Entry details')

<div class="container-fluid">

	#if(!$squads.isEmpty())
		
		<div class="row">
			<div class="col-xs-8">
				<h4>$squad.name entry details</h4>
			</div>
			<div class="col-xs-4">
				<div class="pull-right">				
					#squadSelect('/entrydetails/', 'Show entry details')
				</div>
			</div>						
		</div>
		<hr/>
					
		#if($members.isEmpty()) 
			<p>No members are currently assigned to this squad.</p>				
		#else
		
		<div id="selectedMembers">
		</div>

			
			<table style="font-size: 14px;" class="table table-striped">
				<thead>
					<tr>
						<th></th>					
						<th>Date of birth</th>
						<th>Effective age</th>
						<th>Weight</th>
						<th>Rowing pts</th>
						<th>Sculling pts</th>				
						<th>Registration</th>
					</tr>
				</thead>
									
				<form>
					#foreach( $member in $members )
						
						<tr>
							<td><input type="checkbox" class="selected" value="$member.id" /></td>
					    	<td>#parse('includes/member.vm')</td>
					    	<td>
					    		#if($member.dateOfBirth)
					    			$dateFormatter.dayMonthYear($member.dateOfBirth)
					    		#end
					    	</td>
					    	<td>
					    		#if($member.dateOfBirth)
					    			#set($ageGrade = "")				    		
					    			#set($ageGrade = $governingBody.getAgeGrade($governingBody.getEffectiveAge($member.dateOfBirth))) 
					    			<span #if($ageGrade) title="$ageGrade" #end>$governingBody.getEffectiveAge($member.dateOfBirth)</span>
					    			<br/>#if($ageGrade) $ageGrade #end
					    		#end
					    	</td>
					    	<td>$!member.weight</td>
					    	<td><span #if($member.rowingPoints) title="$governingBody.getRowingStatus($member.rowingPoints)" #end >$!member.rowingPoints</span>
					    		<br/>#if($member.rowingPoints) $governingBody.getRowingStatus($member.rowingPoints) #end
					    	</td>
					    	<td><span #if($member.scullingPoints) title="$governingBody.getRowingStatus($member.scullingPoints)" #end >$!member.scullingPoints</span>
						    	#if($member.scullingPoints) <br/>$governingBody.getRowingStatus($member.scullingPoints) #end
					    	</td>
					    	<td>
					    		#set($registrationNumberProblems = '')
					    		#set($registrationNumberProblems = $governingBody.checkRegistrationNumber($member.registrationNumber))
					    	
					    		
					    		#if($registrationNumberProblems != '')
						    		<div class="alert alert-danger">
						    			$!member.registrationNumber<br/>
						    			$registrationNumberProblems
						    		</div>
						    	#else					    	
				    				$!member.registrationNumber
						    	#end
						    					    		
					    	</td>
					    </tr>   
					    
					#end
				</form>
				
			</table>			
		#end
			
	#else
		<h4>Entry details</h4>
		<hr/>
		<p>There are currently no squads setup.</p>
	#end
	
	<div class="row">
		<div class="col-xs-6">				
			<p>Governing body: <a href="$urlBuilder.governingBody($governingBody)">$governingBody.name</a><p/>			
		</div>
		<div class="col-xs-6">				
			<p align="right"><a href="$urlBuilder.entryDetailsCsv($squad)">Export all as CSV</a><p/>
		</div>
	</div>
	
</div>
<hr/>

<script>
	$('.selected').change(function() {
		var selectedMemberIds = $("input:checkbox:checked").map(function(){
      		return $(this).val();
      	});

		console.log(JSON.stringify(selectedMemberIds.get()));
			
		$.ajax({
			url: "$urlBuilder.applicationUrl('/entrydetails/ajax')",
			type: 'POST',
			contentType: 'application/json',
			processData: false, 
			data: JSON.stringify(selectedMemberIds.get()),
			success:function(result) {
    				$("#selectedMembers").html(result);
    			}
			}			
		);
		
  	});
</script>

#parse('includes/footer.vm')