#if($members)
<div class="row">
	<div class="col-xs-3">
		<ul>
		#foreach($member in $members)
			<li>$member.displayName</li>
		#end
		</ul>
	</div>
	
	<div class="col-xs-1">
		<span class="badge #if($ok) alert-success #end">$members.size()</span>
		#if ($ok) 
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		#end			
	</div>
	
	#if ($ok)	
		<div class="col-xs-2">
			#if($rowingStatus)
				<p>Total rowing points: $rowingPoints</p>
				<p>$rowingStatus <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
			#else
				<p>Crew members have not entered rowing points</p>
			#end
		</div>
		<div class="col-xs-2">
			#if($scullingStatus)
				<p>Total sculling points: $scullingPoints</p>
				<p>$scullingStatus <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
			#else
				<p>Some crew members have not entered sculling points</p>
			#end	
		</div>
		<div class="col-xs-2">
			#if($effectiveAge)
				<p>Effective age: $effectiveAge</p>
				#if($ageGrade)
					<p>$ageGrade <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p> 
				#end
			#else
				<p>Some crew members have not entered a date of birth</p>
			#end
		</div>
		
		<div class="col-xs-2">	
			<p align="right">
				<a href="$urlBuilder.entryDetailsCsv($members)">Export as CSV</a>
			</p>
		</div>
		
	#else
		<div class="col-xs-3">	
			<p>Not a complete boat</p>
		</div>
	#end
			
</div>
#end
<hr/>