#macro(outingsNav $action)
	<div class="span2 bs-docs-sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li>
				#if($permissionsHelper.hasPermission('ADD_OUTING'))			
					<a href="$urlBuilder.applicationUrl('/outings/new')">Add outing</a>
				#end				
			</li>		
			#if($outingMonths && !$outingMonths.keySet().isEmpty())		
				<li>				
				<a href="$urlBuilder.outings($squad)">
					#if($current)
						<span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
					#end
					Current</a>
				</li>
				#foreach($outingMonth in $outingMonths.keySet())
					<li><a href="$urlBuilder.outings($squad, $outingMonth)">															
						#if($outingMonth.equals($month))
							<span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
						#end
						$dateFormatter.month($outingMonth)							
						</a>
					</li>
				#end
			</ul>
		#end
	</div>
#end

#macro(navTabs $selectedTab)
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
	    		</button>
			</div>
		
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">		     
		    		<li #if($selectedTab == 'My outings') class="active" #end>
		    			<a href="$urlBuilder.applicationUrl('/')">My outings
		    				<span id="pendingOutings" class="badge">$!pendingOutingsCount</span>
		 	 	  		</a>		    	
			    	</li>			    				    	
			    	<li>
			    		<a href="$urlBuilder.applicationUrl('/member/')${loggedInUser}/edit">My details</a>
			    		<span id="memberDetailsProblems" class="badge">$!memberDetailsProblems</span>			    	
			    	</li>			    	
			    	<li #if($selectedTab == 'Outings') class="active" #end><a href="$urlBuilder.outingsUrl($preferredSquad)">Outings</a></li>	
					<li #if($selectedTab == 'Availability') class="active" #end><a href="$urlBuilder.availabilityUrl($preferredSquad)">Availability</a></li>
					<li #if($selectedTab == 'Contacts') class="active" #end><a href="$urlBuilder.contactsUrl($preferredSquad)">Contacts</a></li>	
					#if($permissionsHelper.hasPermission('VIEW_ENTRY_DETAILS'))
						<li #if($selectedTab == 'Entry details') class="active" #end><a href="$urlBuilder.applicationUrl("/entrydetails/$preferredSquad.id")">Entry details</a></li>
					#end
					#if($permissionsHelper.hasPermission('VIEW_ADMIN_SCREEN'))				
						<li #if($selectedTab == 'Admin') class="active" #end><a href="$urlBuilder.applicationUrl('/admin')">Admin</a></li>
					#end					
			   	</ul>
			   	<ul class="nav navbar-nav navbar-right">
		        	<li class="dropdown">
		        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		        			<span class="glyphicon glyphicon-cog" style="color: black"></span>
	    			   			<b class="caret"></b>
	    			   	</a>
	    			   	<ul class="dropdown-menu">
							<li><a href="$urlBuilder.changePassword()">Change password</a></li>				
							<li><a href="$urlBuilder.socialMediaAccounts()">Social accounts</a></li>				
							<li><a href="$urlBuilder.applicationUrl('/j_spring_security_logout')">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>	
#end

#macro(inputRow $field $label)
	#springBind($field)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
	        <input class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="$label">				        
	      	#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end				      					   				
	    </div>
	</div>
#end

#macro(selectRow $label $field $options)
	#springBind($field)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
			<select name="${status.expression}" class="form-control">
				<option value=""></option>																	    				
				#foreach($option in $options)				
					<option value="$option" #if($status.getValue() == $option) SELECTED #end>$option</option>
				#end
			</select>
		</div>
	</div>
#end

#macro(selectRowMap $label $field $options)
	#springBind($field)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
			<select name="${status.expression}" class="form-control">
				<option value=""></option>																	    				
				#foreach($option in $options.keySet())				
					<option value="$option" #if($status.getValue() == $option) SELECTED #end>$options.get($option)</option>
				#end
			</select>
		</div>
	</div>
#end

#macro(squadsCheckboxGroup)
	<div class="form-group">
	    <label for="${status.expression}" class="col-sm-2 control-label">Squads</label>
		<div class="col-sm-10">		    				
			#foreach($squad in $squads)
				<div class="checkbox">				
					<label>
						#set($checked = '')
						#foreach($memberSquad in $status.getActualValue())
							#if ($memberSquad.id == $squad.id) 
								#set($checked = 'CHECKED')
							#end
						#end												
						<input type="checkbox" value="$squad.id" name="${status.expression}" $checked />$squad.name						
					</label>
				</div>
			#end
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
			
		</div>
	</div>
#end

#macro(squadSelect $action $label)
	#if ($squads)
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				$squad.name <span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				#foreach($availableSquad in $squads) 
					<li><a href="$urlBuilder.applicationUrl($action)$!availableSquad.id">$!availableSquad.name</a></li>
				#end
			</ul>
		</div>
	#end
#end

#macro(cancel $action)
	<a href="$action"><button class="btn" type="button">Cancel</button></a>
#end