#macro(outingsNav $action)
	<div class="span2 bs-docs-sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="$urlBuilder.applicationUrl('/outings/new')">Add outing</a>
			</li>		
			#if($outingMonths && !$outingMonths.keySet().isEmpty())		
				<li>				
				<a href="$urlBuilder.outings($squad)">
					#if($current)
						<span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
					#end
					Current</a>
				</li>
				#foreach($outingMonth in $outingMonths.keySet())
					<li><a href="$urlBuilder.outings($squad, $outingMonth)">															
						#if($outingMonth.equals($month))
							<span class="glyphicon glyphicon-chevron-right" style="color: black"></span>
						#end
						$dateFormatter.month($outingMonth)							
						</a>
					</li>
				#end
			</ul>
		#end
	</div>
#end

#macro(navTabs $selectedTab)
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Squadlist</a>
		    </div>
			<ul class="nav navbar-nav">		     
		    	<li #if($selectedTab == 'My outings') class="active" #end><a href="$urlBuilder.applicationUrl('/')">My outings</a></li>
				<li #if($selectedTab == 'Details') class="active" #end><a href="$urlBuilder.applicationUrl('/member/')${loggedInUser}">My details</a></li>
		    	<li #if($selectedTab == 'Outings') class="active" #end><a href="$urlBuilder.applicationUrl('/outings')">Outings</a></li>	
				<li #if($selectedTab == 'Availability') class="active" #end><a href="$urlBuilder.applicationUrl('/availability')">Availability</a></li>
				<li #if($selectedTab == 'Contacts') class="active" #end><a href="$urlBuilder.applicationUrl('/contacts')">Contacts</a></li>
				<li #if($selectedTab == 'Entry details') class="active" #end><a href="$urlBuilder.applicationUrl('/entrydetails')">Entry details</a></li>
				<li #if($selectedTab == 'Admin') class="active" #end><a href="$urlBuilder.applicationUrl('/admin')">Admin</a></li>
				<li #if($selectedTab == 'Change password') class="active" #end><a href="$urlBuilder.changePassword()">Change password</a></li>				
				<li #if($selectedTab == 'Logout') class="active" #end><a href="$urlBuilder.applicationUrl('/j_spring_security_logout')">Logout</a></li>      
		   	</ul>
		</div>
	</nav>
#end

#macro(inputRow $field $label)
	#springBind($field)
	<div class="form-group">
	    <label for="currentPassword" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
	        <input class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="$label">				        
	      	#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end				      					   				
	    </div>
	</div>
#end

#macro(selectRow $label $field $options)
	#springBind($field)
	<div class="form-group">
	    <label for="currentPassword" class="col-sm-2 control-label">$label</label>
	    <div class="col-sm-10">					
			<select name="${status.expression}" class="form-control">
				<option value=""></option>																	    				
				#foreach($option in $options)				
					<option value="$option" #if($status.getValue() == $option) SELECTED #end>$option</option>
				#end
			</select>
		</div>
	</div>
#end

#macro(squadsCheckboxGroup)
	#springBind("member.squads")
	<div class="form-group">
	    <label for="currentPassword" class="col-sm-2 control-label">Squads</label>
		<div class="col-sm-10">		    				
			#foreach($squad in $squads)
				<div class="checkbox">
					<label>
						<input type="checkbox" value="$squad.id" name="${status.expression}" #if($status.getValue().contains($squad)) CHECKED #end>$squad.name</input>
					</label>
				</div>
			#end
			#foreach($error in $status.errorMessages)
				<div class="alert alert-warning">$error</div>
			#end
			
		</div>
	</div>
#end

#macro(squadSelect $action $label)
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			$squad.name <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" role="menu">
			#foreach($availableSquad in $squads) 
				<li><a href="$urlBuilder.applicationUrl($action)?squad=$availableSquad.id">$availableSquad.name</a></li>
			#end
		</ul>
	</div>
#end