#parse('includes/head.vm')
#navTabs('Details')

<div class="container-fluid">
		    		
	<div class="row">
		<div class="col-md-12">
		<h4>$member.firstName $member.lastName - Reset password</h4>
		</div>
	</div>
	<hr/>
	
	<p>The member's password has been reset.</p>

	<p>You will need to pass these access details to the member:</p>
	
	<pre>
		Site: $urlBuilder.baseUrl<br/>
		Username: $member.username<br/>
		Password: $password
	</pre>
	
</div>
<hr/>

#parse('includes/footer.vm')