#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$text.text('new.member.added')</h4>
		</div>		
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">

			<p>$text.text('user.has.been.added') $member.firstName $member.lastName</p>
			<p>$text.text('user.has.been.send.invite', $member.emailAddress)</p>
			
			<pre>$inviteMessage</pre>
		
			<div class="control-group">
				<div class="col-sm-2">
				</div>
				<div class="controls">
					<a href="$urlBuilder.adminUrl()"><button class="btn" type="button">$text.text('return.to.admin')</button></a>		
				</div>
			</div>		
										
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')
