<h2>Member details: $member.id</h2>

<hr>
#parse('includes/nav.vm')
<hr>

<p>$member.firstName $member.lastName</p>
<p>$member.gender</p>
<p>$member.dateOfBirth</p>

<p>Email address: $member.emailAddress</p>
<p>Contact number: $member.contactNumber</p>

<p>Weight: $member.weight</p>
<p>RegistrationNumber: $member.registrationNumber</p>

Squads:
<ul>
#foreach($squad in $member.squads)
 	<li>$squad</li>
#end
</ul>
<hr>
