#parse('includes/head.vm')
#navTabs('My details')

<div class="row">

	<div class="span2 bs-docs-sidebar">
	</div>

	<div class="span9">
		<h3>$member.firstName $member.lastName</h3>
		<hr/>
		
		<p>$member.firstName $member.lastName</p>
		<p>$!member.gender</p>
		<p>$!member.dateOfBirth</p>
	
		<p>Email address: $!member.emailAddress</p>
		<p>Contact number: $!member.contactNumber</p>
	
		<p>Weight: $!member.weight</p>
		
		<p>Registration number: $!member.registrationNumber</p>
		<p>Rowing points: $!member.rowingPoints</p>
		<p>Sculling points: $!member.scullingPoints</p>
			
		Squads:
		<ul>
		#foreach($squad in $member.squads)
		 	<li>$squad.name</li>
		#end
		</ul>
		
		<a href="$urlBuilder.editMemberUrl($member)"><button class="btn btn-primary" type="button">Edit details</button></a>
		
	</div>
</div>
</div>

