#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>New member added</h4>
		</div>		
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">

			<p>The following member has been added: $member.firstName $member.lastName</p>
			
			<p>The following introductory message has been sent to their email address ($member.emailAddress) :</p>
			
			<pre>$inviteMessage</pre>
		
			<div class="control-group">
				<div class="col-sm-2">
				</div>
				<div class="controls">
					<a href="$urlBuilder.adminUrl()"><button class="btn" type="button">Return to admin</button></a>		
				</div>
			</div>		
										
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')
