#parse('includes/head.vm')
#navTabs('Details')

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
		<h4>$member.firstName $member.lastName</h4>
		</div>
	</div>
	<hr/>

	<p>Known as: $!member.knownAs</p>
	<p>Gender: $!member.gender</p>
	<p>Date of birth: 
		#if($member.dateOfBirth) $dateFormatter.dayMonthYear($member.dateOfBirth) 
			 #if($governingBody.getAgeGrade($member.dateOfBirth)) 
			 	($governingBody.getAgeGrade($member.dateOfBirth))
			 #end
		#end
	</p>
	<p>Email address: $!member.emailAddress</p>
	<p>Contact number: $!member.contactNumber</p>

	<p>Emergency contact name: $!member.emergencyContactName</p>
	<p>Emergency contact number: $!member.emergencyContactNumber</p>

	<p>Weight: $!member.weight</p>
	
	<p>Registration number: $!member.registrationNumber</p>
	<p>Rowing points: $!member.rowingPoints
		#if($member.rowingPoints && $governingBody.getRowingStatus($member.rowingPoints)) 
			($governingBody.getRowingStatus($member.rowingPoints))
		#end
	</p>
		
	<p>Sculling: $!member.sculling</p>	
	<p>Sculling points: $!member.scullingPoints
	
	#if($member.scullingPoints && $governingBody.getRowingStatus($member.scullingPoints)) 
		($governingBody.getRowingStatus($member.scullingPoints))
	#end
	</p>
	
	<p>Sweep oar side: $!member.sweepOarSide</p>
				
	<p>Squads: $squadNamesHelper.list($member.squads)</p>
	
	<p>Role: $!member.role</p>
		
	<a href="$urlBuilder.editMemberUrl($member)"><button class="btn btn-primary" type="button">Edit details</button></a>
			
	</div>
</div>
<hr/>

#parse('includes/footer.vm')