<h2>My Outings</h2>

<p>Logged in as: $loggedInUser</p>

<hr>
#foreach( $outing in $outings )
	#parse('includes/outing.vm')
	
	#if ($outingAvailability.availability) 
		$outingAvailability.availability
	#else
		TBA
	#end
#end
<hr>
