#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Adding a new member</h4>
		</div>		
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">

			<form method="POST" action="$urlBuilder.newMemberUrl()" class="form-horizontal">		
				#inputRow("member.firstName", "First name")
				#inputRow("member.lastName", "Last name")
				#inputRow("member.emailAddress", "Email address")
				
				#springBind("member.squads")
				<div class="form-group">
				    <label for="currentPassword" class="col-sm-2 control-label">Squads</label>
	    			<div class="col-sm-10">		    				
	    				<select multiple class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="$label">	
							<option value=""></option>
							#foreach($squad in $squads)
								<option value="$squad.id" #if($status.value.contains($squad.id)) SELECTED #end>$squad.name</option>
							#end
						</select>				
					</div>
				</div>
																			
				<div class="control-group">
					<div class="col-sm-2">
					</div>
					<div class="controls">
						<button type="submit" class="btn">Add member</button>
						<a href="$urlBuilder.adminUrl()"><button class="btn btn-primary" type="button">Cancel</button></a>					
					</div>
				</div>				
			</form>
			
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')
