#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Adding a new member</h4>
		</div>		
	</div>
	<hr/>
	
	<div class="row">
		<div class="col-xs-12">
		
			#foreach($error in $status.errorMessages) 
				<div class="alert alert-warning">$error</div>
			#end
	
			<form method="POST" action="$urlBuilder.newMemberUrl()" class="form-horizontal">		
				#inputRow("memberDetails.firstName", "First name")
				#inputRow("memberDetails.lastName", "Last name")
							
				#springBind("memberDetails.emailAddress")
				<div class="form-group">
				    <label for="currentPassword" class="col-sm-2 control-label">Email address</label>
				    <div class="col-sm-10">					
				        <input class="form-control" name="${status.expression}" value="$!{status.value}" placeholder="Email address">				        
				      	#foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end
						
						<div class="alert alert-info">		
							<p>The member's email address will be used to send them their access details.<br/>
							It's also helpful if they need to reset a forgotten password in the future.
							</p>
						</div>			
				    </div>
				</div>
										
				#springBind("memberDetails.squads")
				#squadsCheckboxGroup
																							
				<div class="control-group">
					<div class="col-sm-2">
					</div>
					<div class="controls">
						<input type="submit" class="btn btn-primary" value="Add member" />
						#cancel($urlBuilder.adminUrl())				
					</div>
				</div>				
			</form>
			
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')
