#parse('includes/head.vm')
#navTabs('Add outing')

<div class="row">

	<div class="span2 bs-docs-sidebar">
	</div>
	
	<div class="span9">	
		<h3>Adding a new outing</h3>
		
		<form action="/outings/new" method="POST">
		
			<select name="squad">	
				#foreach($squad in $squads) 
					<option value="$squad.id">$squad.name</option>
				#end
			</select>
			
			<input type="submit" value="Add outing" />
		</form>
	</div>
</div>
</div>
