#parse('includes/head.vm')
#navTabs('Add outing')

<div class="row">
		
	<div class="span9">	
		<h3>Adding a new outing</h3>
		
		#springBind("outing")
		#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end
										
		<form action="/outings/new" method="POST">
			<div class="control-group">			
				<label class="control-label" for="${status.expression}">Date</label>
				<div class="controls">
					#springBind("outing.day")							
					<select name="${status.expression}">	
						#foreach($day in $dateHelper.days)
							<option value="$day" #if($day == $outing.day) SELECTED #end>$day
						#end
					</select>
					
					#springBind("outing.month")					
					<select name="${status.expression}">
						#foreach($month in $dateHelper.months)
							<option value="$month" #if($month == $outing.month) SELECTED #end>$month
						#end
					</select>
										
					#springBind("outing.year")					
					<select name="${status.expression}">
						#foreach($year in $dateHelper.years)
							<option value="$year" #if($year == $outing.year) SELECTED #end>$year
						#end
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="hour">Time</label>			
				<div class="controls">
					#springBind("outing.hour")				
					<select name="${status.expression}">	
						#foreach($hour in $dateHelper.hours)
							<option value="$hour" #if($hour == $outing.hour) SELECTED #end>$hour
						#end
					</select>
					
					#springBind("outing.minute")					
					<select name="${status.expression}">	
						#foreach($minute in $dateHelper.minutes)
							<option value="$minute" #if($minute == $outing.minute) SELECTED #end>$minute
						#end
					</select>
					
					#springBind("outing.ampm")	
					<select name="${status.expression}">	
						<option value="AM">AM
						<option value="PM">PM
					</select>									
				</div>
			</div>
			
			#springBind("outing.squad")
			<div class="control-group">
				<label class="control-label" for="${status.expression}">Squad</label>
				<div class="controls">
					<select id="${status.expression}" name="${status.expression}">
						#foreach($squad in $squads)
							<option value="$squad.id" #if($squad.id == ${status.value}) SELECTED #end>$squad.name
						#end
					</select>					
					#foreach($error in $status.errorMessages) <p class="alert">$error</p> #end				
				</div>			
			</div>
			
			#springBind("outing.notes")
			<div class="control-group">
				<label class="control-label" for="${status.expression}">Notes</label>
				<div class="controls">
					<input id="${status.expression}" name="${status.expression}" placeholder="Notes" value="$!{status.value}">
					#foreach($error in $status.errorMessages) <p class="alert">$error</p>#end				
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Add outing</button>
					<a href="$urlBuilder.adminUrl()"><button class="btn btn-primary" type="button">Cancel</button></a>					
				</div>
			</div>
			
		</form>
	</div>
</div>
</div>
