#parse('includes/head.vm')
#navTabs('Admin')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Add squad</h4>
		</div>		
	</div>
	<hr/>

	<div class="row">			
		<div class="col-xs-12">
		
			<form method="POST" action="$urlBuilder.newSquadUrl()" class="form-horizontal">		
				
				<div class="form-group">				
					#springBind("squadDetails.name")				
			   		<label for="squad" class="col-sm-2 control-label">Name</label>
				    <div class="col-sm-5">    
						<input id="${status.expression}" name="${status.expression}" placeholder="Name" value="$!{status.value}" class="form-control" />
						#foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end
					</div>
				</div>		
				
				<div class="control-group">
					<div  class="col-sm-2">
					</div>	
					<div class="controls">
						<button type="submit" class="btn btn-primary">Add squad</button>
						#cancel($urlBuilder.adminUrl())					
					</div>
				</div>
									
			</form>				
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')