#parse('includes/head.vm')
#navTabs('')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>Add squad</h4>
		</div>
		
	</div>
	<hr/>

	<div class="row">
			
		<div class="col-xs-12">
		
			<form method="POST" action="$urlBuilder.newSquadUrl()" class="form-horizontal">		
				#springBind("squad.name")
				<div class="control-group">
					<label class="control-label" for="${status.expression}">Name</label>
					<div class="controls">
						<input id="${status.expression}" name="${status.expression}" placeholder="Name" value="$!{status.value}">
						#foreach($error in $status.errorMessages)
							<div class="alert alert-warning">$error</div>
						#end
					</div>			
				</div>
				
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Add new squad</button>
						<a href="$urlBuilder.adminUrl()"><button class="btn btn-primary" type="button">Cancel</button></a>					
					</div>
				</div>
			</form>				
		</div>
	</div>
</div>
<hr/>

#parse('includes/footer.vm')