#parse('includes/head.vm')
#navTabs('Outings')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$squad.name outings</h4>
		</div>
		<div class="col-xs-4">
			<div class="pull-right">
				#squadSelect('/outings', 'Outings')
			</div>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-3">
			#outingsNav()
		</div>
		
		<div class="col-xs-9">
			
			#if(!$outings.isEmpty())			
				<table style="font-size: 14px;" class="table table-striped">
					#foreach($outingWithAvailability in $outings)
						#set($outing = $outingWithAvailability.outing)
						<tr>
				   			<td>	   
								#parse('includes/outing.vm')
							</td>
							<td>
								<div class="pull-right">								
									#foreach($colour in $outingAvailabilityCounts.get($outing.id).keySet())
										<span class="badge" style="background-color: $colour" title="$availabilityOption">
											$outingAvailabilityCounts.get($outing.id).get($colour)
										</span>
									#end
								</div>		
									
				    		</td>	   			
						</tr>
						#end
				</table>
			#else
				<p>No matching outings found.</p>
			#end
							
		</div>			
	</div>

</div>
<hr/>			

#parse('includes/footer.vm')