#parse('includes/head.vm')
#navTabs('Outings')

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
			#outingsNav('/')
		</div>
		
		<div class="col-xs-9">
			<h4>$title</h4>
			<p>$!outing.notes</p>	
			
			<table class="table table-striped">				
				#foreach($member in $members )					
					<tr>
				    	<td>
				   			#parse('includes/member.vm')
				   		</td>
				   		<td>
							#if($availability.get(${member.id}))
								<span class="label label-info">
									$availability.get(${member.id})
								</span>
							#else 
								TBA
							#end
						</td>
					</tr>
				#end
			</table>		
		</div>			
	</div>
</div>
<hr/>			

#parse('includes/footer.vm')