<h2>$squad.name - $outing.date</h2>

<p>Logged in as: $loggedInUser</p>

<hr>
#foreach( $member in $members )
   	#parse('includes/member.vm')
	#if($availability.get(${member.id}))
		$availability.get(${member.id})
	#else 
		TBA
	#end
#end
<hr>