#parse('includes/head.vm')
#navTabs('Outings')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$squad.name outings</h4>
		</div>
		<div class="col-xs-4">
			<div class="pull-right">
				#squadSelect('/outings', 'Outings')
			</div>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-2">
			#outingsNav()
		</div>
		
		<div class="col-xs-10">
		
			<p>$dateFormatter.dayMonthYearTime($startDate) - $dateFormatter.dayMonthYearTime($endDate)</p>
		
			<table style="font-size: 14px;" class="table table-striped">								
				#foreach($outing in $outings)
					<tr>
			   			<td>	   
							#parse('includes/outing.vm')	
			    		</td>	   			
					</tr>
					#end
			</table>
							
		</div>			
	</div>

</div>
<hr/>			

#parse('includes/footer.vm')