#parse('includes/head.vm')
#navTabs('Outings')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h4>$squad.name outings</h4>
		</div>
		<div class="col-xs-4">
			<div class="pull-right">
				#squadSelect('/outings', 'Outings')
			</div>
		</div>
	</div>
	<hr/>

	<div class="row">
		<div class="col-xs-2">
			#outingsNav()
		</div>
		
		<div class="col-xs-10">
			<span class="pull-right"><a href="$urlBuilder.outingEditUrl($outing)">Edit outing</a></span>
			<h4>$dateFormatter.dayMonthYearTime($outing.date)</h4>
			<p>$!outing.notes</p>	
			
			
			<table style="font-size: 14px;" class="table table-striped">				
				#foreach($member in $members )					
					<tr>
				    	<td>
				   			#parse('includes/member.vm')
				   		</td>
				   		<td>
							#if($availability.get(${member.id}))
								<span class="label label-info pull-right $cssHelper.classFor($availability.get(${member.id}))">$availability.get(${member.id})</span>
							#else
								<span class="pull-right">TBA</span>
							#end
						</td>
					</tr>
				#end
			</table>		
		</div>		
	</div>
	
</div>
<hr/>			

#parse('includes/footer.vm')