<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<link href="http://im.wellington.gen.nz/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1"></div>		
		<div class="span10">
			<h2>Squadlist - $instance.name</h2>			
			<h4>Reseting your password - Confirmed</h4>					     
		</div>		
	</div>
</div>
</body>
</html>