#parse('includes/head.vm')

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1"></div>		
		<div class="span10">
			<h2>Squadlist - $instance.name</h2>			
			<h4>Reseting your password - Confirmed</h4>		
			<p>Your new password is: <code>$newPassword</code></p>
		</div>		
	</div>
</div>
</body>
</html>