#parse('includes/head.vm')

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-8">
			<h3>Squadlist - $instance.name</h3>
		</div>
	</div>
	<hr/>
		
	<div class="row">		
		<div class="col-xs-12">	
			<h4>$text.text('resetting.your.password')</h4>
			
			<p>$text.text('your.new.password.is') <code>$newPassword</code></p>  
		</div>		
	</div>
	
	<div class="control-group">
		<div class="controls">		
			<a href="$urlBuilder.loginUrl()"><button class="btn" type="button">$text.text('return.to.login.screen')</button></a>			
		</div>
	</div>
	<hr/>	
</div>

#parse('includes/footer.vm')
