#parse('includes/head.vm')

<h3>$squad.name availability</h3>

#parse('includes/nav.vm')

<table>
<tr>
	<td></td>
	#foreach($outing in $outings) 
		<td>#parse('includes/outing.vm')</td>
	#end
</tr>

#foreach( $member in $members )
	<tr>
		<td>#parse('includes/member.vm')</td>
		#foreach($outing in $outings) 
			#set($key = "${outing.id}-$member.id")
			<td>$!availability.get($key)</td>
		#end
	</tr>
#end
</tr>
</table>
<hr>
