#parse('includes/head.vm')
#navTabs('Squad availability')

<div class="row">
		
	<div class="span2 bs-docs-sidebar">
		#squadSideNav('availability')
	</div>
	
	<div class="span9">
		<h3>$squad.name availability</h3>

		<div class="row">
			<div class="span2">
			</div>
			#foreach($outing in $outings) 
				<div class="span1">
					#parse('includes/outing-small.vm')
				</div>
			#end
		</div>			
		

		#foreach( $member in $members )
			<div class="row">				
				<div class="span2">#parse('includes/member.vm')</div>				
				#foreach($outing in $outings)
					#set($key = "${outing.id}-$member.id")
					<div class="span1">
						<span class="label label-info">
							$!availability.get($key)
						</span>
					</div>
				#end
			</div>
		#end	
		<hr>

	</div>
</div>
</div>
