#parse('includes/head.vm')
#parse('includes/nav.vm')

<div class="row">

	<div class="span2 bs-docs-sidebar">
		#parse('includes/squadnav.vm')
	</div>

	<div class="span9">
		<h3>$squad.name entry details</h3>
		
		<table>
		#foreach( $member in $members )
		
			<div class="row">
		    	<div class="span2 offset1">
		    		#parse('includes/member.vm')
		    	</div>
		    	<div  class="span2">
		    		$!member.registrationNumber
		    	</div>
		    	<div  class="span2">
		    		$!member.weight
		    	</div>
		    </div>
		#end
		</tr>
		</table>
	</div>
</div>
</div>
