#parse('includes/head.vm')

<h3>$squad.name contacts</h3>

#parse('includes/nav.vm')

#foreach( $member in $members )
	<div class="row">
    	<div class="span2 offset1">
    		#parse('includes/member.vm')
    	</div>
    	<div class="span3">
    		$!member.emailAddress
    	</div>
		<div class="span2">
			$!member.contactNumber
		</div>
	</div>
#end
<hr>
