.available {
	background-color: green;
}
.available1stsessiononly {
	background-color: green;
}
.available2ndsessiononly {
	background-color: green;
}
.availableduty {
	background-color: green;
}
.businesstrip {
	background-color: red;
}
.holiday {
	background-color: red;
}
.illness {
	background-color: red;
}
.injury {
	background-color: red;
}
.other {
	background-color: red;
}
.rowifrequired {
	background-color: #FFCC33;
}
.substitutearranged {
	background-color: yellow;
}

.availablePast {
	background-color: grey;
}
.available1stsessiononlyPast {
	background-color: grey;
}
.available2ndsessiononlyPast {
	background-color: grey;
}
.availabledutyPast {
	background-color: grey;
}
.businesstripPast {
	background-color: grey;
}
.holidayPast {
	background-color: grey;
}
.illnessPast {
	background-color: grey;
}
.injuryPast {
	background-color: grey;
}
.otherPast {
	background-color: grey;
}
.substitutearrangedPast {
	background-color: grey;
}